
@import url('https://fonts.googleapis.com/css?family=Roboto');

html * {
  font-family: 'Roboto' !important;
}

.list-container-empty {

}
.list-container {
  /* position: fixed; */
  margin-top: 100px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: scroll;

}

.header-main {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #3d3d3d;
  justify-content: center;
  align-items: center;

}

.header-logo-image {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s;
}
.header-logo-image:hover {
  opacity: 1;
  transform: scale(1.2);
}

.header-logo-image:hover ~ .header-logo-text2 {
  opacity: 1;
}
.header-logo-image:hover ~ .header-logo-text {
  /* animation: beauty 2s infinite; */
}

@keyframes beauty {
  25% {
    transform: rotate(10deg);
  }
  /* 50% {
    transform: rotate(0deg);
  } */
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.header-logo-text {
  margin-top: -20px;
  /* opacity: 0.2; */
  transition: all 1s;

}
.header-logo-text2 {
  position: absolute;
  top: 39px;
  left: 100px;
  opacity: 0;
  transition: all 1s;
}

.header-search {
  position: absolute;
  bottom: 5px;
  left: 33%;
  width: 30%;
  outline: 0;
  background-color: #5d5d5d;
  border: 0;
  border-radius: 20px;
  padding: 5px 2%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.header-search-in{
  flex: 9;
  outline: 0;
  background-color: #5d5d5d;
  border: 0;
  font-size: 14px;
  font-weight: 200;
  color: white;
}

.header-search:active + .header-logo-text{
  opacity: 1;
}
.header-search-in:focus + .search-logo{
  opacity: 1;
}

.search-logo {
  opacity: 0.1;
  transition: all 1s;
}


.list-item {
  padding: 10px 0px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.2s all;
  display: flex;
  justify-content: space-between;
  min-height: 75px;
}

.list-item:hover {
  background-color: #efefef;
}

.li-info-count {
  flex: 0.1;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.li-info-count-number {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  font-size: 12px;
  font-weight: 200;
  color: white;
  background-color: #ff8f1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-info-main {
  flex: 2;
  display: flex;
  padding: 0px 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  cursor: pointer;
}
.li-info-main-message {
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  color: #555;
  /* margin-bottom: 5px; */
}

.li-tag-container {
  display: flex;
  margin-top: 10px;
  /* align-items: center; */
  /* font-size: 11px; */
}

.li-tag {
  margin-right: 5px;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 200;
  cursor: pointer;
}

.li-tag:hover {
  background-color: #ff8f1c;
  color: white;
}

.team-container {
  display: flex;
  /* align-items: center;; */
  /* font-size: 11px; */
  margin-top: 10px;
}
.field-title-main {
  flex: 0.75;
  font-size: 12px;
}
.field-value-main {
  flex: 10;
  font-size: 12px;

}

.team-member {
  margin-right: 5px;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
  z-index: 1;
}

.team-member:hover {
  background-color: #ff8f1c;
  color: white;
}

.li-info-acknowledge {
  flex: 0.5;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  align-items: flex-end;
}

.li-info-acknowledge-date {
  font-size: 13px;

}
.li-info-acknowledge-owner {
  font-size: 13px;
}
.li-info-acknowledge-open {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
}
.acked {
  background-color: #539dcf;
  color: white;
}
.notacked {
  background-color: #ee5e68;
  color: white;
}
